$otstup:560px;
$planshet: 960px;
$phone: 640px;
$blue: #00478a;
$bluet: rgba(37, 35, 72, 0.65);
$lite-blue: #a6e3ff;
$nice-blue: #e8f4ff;
$lite-bluet: rgba(83, 77, 177, 0.85);
$green: #009123;
$dark-green: #005c3a;
$black-green: #004129;
$lite-green: #1ab73d;
$gray: #efeeee;
$nice-gray: #e9e9e9;
$dark-gray: #202020;
$black: #1A1A1A;
$magenta: #F5001F;
$light-magenta: #F5001F + #fff;
$light-magenta: #ff9fab;
$dark-magenta: #980012;
$transition:opacity 1.4s;

@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,700);
@import "../libs/animate";
@import "../libs/magnific-popup";
@import "../libs/normalize";

@mixin border() {
	border: 1px solid black;
}

@mixin flexbox($atr1, $atr2) {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-flow: $atr1 $atr2;
}

@mixin text($atr1, $atr2) {
	font-size: $atr1;
	line-height: $atr2;
}


@mixin bradius($atr1) {
	border-radius: $atr1;
	-webkit-border-radius: $atr1;
	-moz-border-radius: $atr1;
}

@mixin shadow() {
	box-shadow: 0 0 5px $dark-gray;
	-webkit-box-shadow: 0 0 5px $dark-gray;
	-moz-box-shadow: 0 0 5px $dark-gray;
}

@mixin shadowb() {
	box-shadow: 0 1px 4px $dark-gray;
	-webkit-box-shadow: 0 1px 4px $dark-gray;
	-moz-box-shadow: 0 1px 4px $dark-gray;
}
